<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="character">
      {{ character.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="character">
    <ion-row>
      <ion-col size="12">
        <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"/>
      </ion-col>
      <ion-col size="12">
        <ion-label>
          <b>
            {{ "details" | translate }}
          </b>
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>
              {{ "amount_comics" | translate }}
            </ion-label>
            <ion-note slot="end">
              {{ character.comics.available }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label>
              {{ "amount_series" | translate }}
            </ion-label>
            <ion-note slot="end">
              {{ character.series.available }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label>
              {{ "amount_stories" | translate }}
            </ion-label>
            <ion-note slot="end">
              {{ character.stories.available }}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
